.nav-wrapper {
  background-color: #efedef;
  border-bottom: 1px solid #6ead3a;
}

.nav-wrapper a {
  color: #222022 !important;
  text-align: center;
  text-decoration: none;
  font-size: 19px !important;
}

.active {
  background-color: #4c4947;
  color: #6ead3a !important;
}

.nav-wrapper a:hover {
  background-color: #4c4947;
  color: #6ead3a !important;
}
